.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.18s ease-out;
}

.modal {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    animation: scaleIn 0.18s ease-out;
}

.modal input {
    padding: 10px;
    font-size: 14px;
}

/* BUTTONS */

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.create-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.create-btn:hover {
    background: #1666c1;
}

.create-btn.disabled {
    background: #ccc;
    cursor: not-allowed;
}

.delete-btn {
    background: #d93025;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #b32318;
}

/* PASSWORD STRENGTH */
.password-strength {
    width: 95%;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.strength-bar {
    flex: 1;
    height: 6px;
    border-radius: 4px;
    background-color: #eee;
}

.strength-bar.weak {
    background-color: #ff4d4f;
}

.strength-bar.medium {
    background-color: #faad14;
}

.strength-bar.strong {
    background-color: #52c41a;
}

.password-strength span {
    font-size: 12px;
    font-weight: 500;
}

.password-rules p {
    font-size: 12px;
    color: #777;
    margin: 2px 0;
}

.password-rules .invalid {
    color: red;
    padding-left: 20px;
}
.password-rules .valid {
    color: #28a745;
    padding-left: 20px;
}

.password-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}

/* PASSWORD VISIBILITY*/
.password-group {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #777;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}